%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [{edown, ".*", {git, "git://github.com/uwiger/edown.git", "HEAD"}}]}.
{src_dirs, ["examples"]}.
{edoc_opts, [{doclet, edown_doclet},
	     {src_path, ["src/", "examples/"]},
             {app_default, "http://www.erlang.org/doc/man"},
             {top_level_readme,
              {"./README.md",
               "http://github.com/uwiger/sext"}}
            ]}.
